@import "../../utils/sass";

.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: $secondary_1;
  z-index: 1500;
  position: absolute;
  top: 0;
  left: 0;
  @include flexCenter(center, center, row);
  .icon {
    @media (max-width: 768px) {
      width: 50%;
    }
  }
}
