@import '../../utils/sass/mixin.scss';
@import '../../utils/sass/variables.scss';

.post-card-wrapper {
	width: 100%;
	aspect-ratio: 3/4;
	box-shadow: 0 0 1px $secondary;
	margin-bottom: 30px;
	.header {
		@include flexCenter(flex-start, center, row);
		padding: 20px;
		h3 {
			color: $primary;
			font-weight: 600;
		}
		.follow-btn {
			height: 25px;
			padding: 0 20px;
			border-radius: 4px;
			font-size: 14px;
			font-weight: 500;
			color: white;
			background-color: $primary;
			margin-left: 15px;
		}
	}
	.post-img {
		width: 100%;
		height: auto;
	}
}
