@import "../../utils/sass";

.profile-page-container {
  max-width: 960px;
  min-width: 360px;
  margin: 80px auto;
  padding: 25px 15px;
  @media (max-width: 768px) {
    margin: 60px auto;
  }
  .profile-header {
    @include flexCenter(flex-start, center, row);
    .avatar-box {
      flex: 0.25;
      aspect-ratio: 1/1;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin-right: 5%;
      img {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
      }
    }
    .profile-info {
      flex: 0.5;
      @media (max-width: 780px) {
        flex: 1;
      }
      .user-info {
        @include flexCenter(flex-start, center, row);
        .username {
          font-size: 30px;
          font-weight: 600;
          margin-right: 20px;
          color: $primary;
          @media (max-width) {
            font-size: 24px;
          }
        }
      }
      span {
        font-size: 24px;
        margin-top: 20px;
        @media (max-width: 768px) {
          font-size: 18px;
          margin-top: 10px;
        }
      }
      .other-info {
        @include flexCenter(space-between, center, row);
        margin-top: 20px;
        width: 100%;
        p {
          font-size: 22px;
        }
        @media (max-width: 768px) {
          margin-top: 10px;
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
  hr {
    border: 1.5px solid $primary;
    margin: 25px 0;
  }
  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    .gallery-item {
      aspect-ratio: 1/1;
      position: relative;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0 0 2px $secondary;
      @include flexCenter(center, center, row);
      img {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}
