$primary: rgb(143, 13, 143);
$primary_1: rgba(253, 243, 243, 0.883);
$secondary: gray;
$secondary_1: white;
$secondary_2: rgb(165, 165, 165);
$secondary_3: rgba(105, 104, 104, 0.466);
$orange : #f56539;
$black : #212121;
$white : #EAEAEA;

//backdrop-filter : blur(20px);
