@import "../../utils/sass";

.nav-wrapper {
  width: 100%;
  height: 80px;
  box-shadow: 0 0 3px $secondary;
  padding: 0 3%;
  background-color: $secondary_1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  @include flexCenter(space-between, center, row);
  @media (max-width: 768px) {
    height: 60px;
  }
  .logo,
  .avatar-icon {
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    object-fit: contain;
  }
  .avatar-icon {
    height: 75%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0.5px $secondary;
  }
}

.toggler {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0;
  @media (max-width: 768px) {
    top: 60px;
  }
  .closer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $secondary_3;
    backdrop-filter: blur(10px);
    transition: 0.2s;
  }
  .toggler-card {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    transition: 0.2s;
    z-index: 100;
    @include flexCenter(flex-start, center, column);
    background-color: $secondary_1;
    box-shadow: 0 0 3px $secondary;
    .nav-link {
      width: 100%;
      padding: 15px;
      border-bottom: 2px solid $primary;
      color: $primary;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
    }
    .ad {
      text-align: center;
      bottom: 100px;
      position: absolute;
      span {
        color: $secondary_2;
      }
    }
  }
}
