@import "../../utils/sass";

.authenticator-container {
  height: 100vh;
  width: 100vw;
  @include flexCenter(center, center, row);
  .auth-box {
    height: 80vh;
    width: 85vw;
    @include flexCenter(space-between, center, row);
    img {
      width: 50%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .authenticator-container {
    .auth-box {
      width: 95vw;
      height: 100vh;
      @include flexCenter(center, center, column-reverse);
      img {
        width: 85%;
      }
    }
  }
}
